p {
    margin: 0;
}

body {
    margin: 0;
    height: 200vw;
    background: #d1d1d1;
}

.cookies-container {
    color: #222;
    font-family: "Open Sans", "Helvetic Neue", sans-serif;
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 2rem;
}

.cookies-content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: white;
    max-width: 520px;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: slideUp .5s forwards;
}

.cookies-pref label {
    margin-right: 1rem;
}

.cookies-save {
    grid-column: 2;
    grid-row: 1 / 3;
    font-family: "Open Sans", "Helvetic Neue", sans-serif;
    font-size: 1rem;
    background: #007cf8;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1rem;
}

@media (max-width: 500px) {
    .cookies-content {
        grid-template-columns: 1fr;
    }

    .cookies-save {
        grid-column: 1;
        grid-row: 3;
    }
}

@keyframes slideUp {
    to {
        transform: initial;
        opacity: initial;
    }
}
