#cabecalho {
    position: relative;
    width: 100%;
    height: 10%;

    padding: 20px;
    margin: -10px;

    background-color: gray;

    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

#cabecalho h1 {
    font-size: 30px;
    color: white;
}

#menu {
    position: absolute;
    top: 30%;
    right: 15%;

    border-radius: 50%;
    border: 1px solid white;

    color: white;

    padding: 15px;
}

#lista {

    margin: 0 -8px;

    border: 5px solid rgba(0, 0, 0, 0.5);

    background-color: gray;
    display: none;
}

#lista h3 {
    text-align: center;
    color: white;
}

#lista li {
    text-align: center;
    list-style: none;

    margin: 20px 40px 0 0;
    padding: 10px;

    color: black;
    background-color: white;
}
