h1 {
    text-align: center;
}

#calculadora {
    display: block;
    width: 90%;
    text-align: center;

    margin: 0 auto;

    border: 1px solid;
    border-radius: 12%;

    padding: 30px 0 80px 0;

    background-color: #dddcdc;
}

#calculadora span {
    box-sizing: border-box;

    display: inline-block;

    width: 15%;
    padding: 15px;
    margin: 15px;

    font-size: 25px;
    text-align: center;

    border: 1px solid;
    border-radius: 8%;
    
    background-color: white;
}

#equals {
    box-sizing: border-box;

    display: inline-block;

    width: 80%;
    padding: 15px;
    margin: 15px;

    font-size: 25px;
    text-align: center;

    border: 1px solid;
    border-radius: 8%;
    
    background-color: white;

    transition: 0.5s;
}

span:hover,
#equals:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

#resultado {
    width: 50%;
    text-align: center;

    display: inline-block;

    padding: 40px;

    border: 2px solid;
    border-radius: 8%;

    background-color: white;

    font-size: 30px;
    text-align: left;

    overflow: hidden;

}

@media (min-width: 580px) {
    #calculadora {
        width: 80%;
    }
}

@media (min-width: 700px) {
    
    #calculadora {
        width: 65%;
    }

}

@media (min-width: 780px) {
    
    #calculadora {
        width: 35%;
    }

}

@media (min-width: 800px) {
    
    #calculadora {
        width: 40%;
    }

}