@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    color: #44e9ff;
    text-shadow: 2px 2px 2px #fa32d2;
}

.navbar {
  font-family: 'Rubik', sans-serif;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -300px;
  background-color: #191919;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  transition: 0.15s ease-in;
}

.navbar__title {
  background-color: #131313;
  color: #dbdada;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  user-select: none;
  margin: 0;
  padding: 20px 0;
}

.navbar__links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar__item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #000;
  padding: 20px 0 20px 30px;
  margin: 0;
}

.navbar__link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

.bars {
  z-index: 9998;
  position: fixed;
  right: 50px;
  top: 18px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.close {
  position: fixed;
  z-index: 10000;
  right: -275px;
  top: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  transition: 0.15s ease-out;
}

.close:hover {
  color: #e74c3c;
}

#navbarToggler {
  display: none;
}

#navbarToggler:checked ~ .close {
  right: 275px;
}

#navbarToggler:checked ~ .navbar {
  right: 0;
  transition: 0.15s ease-out;
}

h1 {
    font-size: 55px;
    text-align: center;
}

.opcoes {
    display: inline-block;
    width: 90%;

    border: 3px solid #fa32d2;
    border-radius: 5%;

    padding: 20px;
    margin: 0 auto;

    text-align: center;
}

.opcoes img {
    max-width: 50%;
    width: 18%;
    opacity: 0.8;
    transition: 1s;
}

.opcoes img[src*=paper] {
    margin: 0 70px;
}

#resultado {
    width: 100%;
    display: block;

    color: #af61f7;
    text-shadow: none;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#botao {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

button {
    width: 50%;

    text-align: center;
    font-size: 30px;

    margin-bottom: 50px;
    padding: 20px;

    border: 1px solid #fa32d2;
    border-radius: 5%;

    background: linear-gradient(#44e9ff, #61f79f);
    color: white;

    transition: 1s;
}

button:hover {
    transform: scale(1.05);
    transition: 1s;
}

#versus {
    width: 100%;
    display: block;

    font-size: 30px;
    text-align: center;
}

p {
    color: #61f79f;

    text-shadow: 2px 2px 2px rgb(243, 158, 158);
    font-size: 35px;
    font-family: 'monospace';
    text-align: center;
}

@media (min-width: 600px) {
    .opcoes img {
        width: 11%;
    }
}

@media (min-width: 800px) {
    #view {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

   .opcoes img {
       width: 8%;
   }

   p {
       font-size: 40px;
   }

}
