:root {
  --nav-color: white;
  --nav-background-color: #232323;
}

body {
  margin: 0 auto;
  max-width: 900px;
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
